<div class="account-container">

	<div id="account-content" class="clearfix">
		<form id="signInForm" method="POST">
			<fieldset>
				<div id="usernameControlGroup" class="control-group">
					<label class="control-label" for="username">Username:</label>
					<div class="controls">
						<input id="username" name="username" class="input-xlarge" autocomplete="off" placeholder="Username">
					</div>
				</div>
				<div id="passwordControlGroup" class="control-group">
					<label class="control-label" for="password">Password:</label>
					<div class="controls">
						<input id="password" name="password" type="password" class="input-xlarge" placeholder="Password" autocomplete="off">
					</div>
				</div>
				<div id="retypePasswordControlGroup" class="control-group">
					<label class="control-label" for="retypePassword">Re-type password:</label>
					<div class="controls">
						<input id="retypePassword" name="retypePassword" type="password" class="input-xlarge" placeholder="Re-type password">
					</div>
				</div>
				<div id="emailControlGroup" class="control-group">
					<label class="control-label" for="email">Email:</label>
					<div class="controls">
						<input id="email" name="email" class="input-xlarge" placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="firstName">Given name:</label>
					<div class="controls">
						<input id="firstName" name="firstName" class="input-xlarge" placeholder="Given name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="lastName">Family name:</label>
					<div class="controls">
						<input id="lastName" name="lastName" class="input-xlarge" placeholder="Last name">
					</div>
				</div>
				<div class="form-actions form-actions-account">
					<div class="pull-right">
						<button id="btnSignInSave" class="btn btn-primary" type="submit">Save</button>
						<button id="btnSignInCancel" class="btn" type="reset">Cancel</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	
	<div class="spacer20"></div>
			
</div>