<header id="overview" class="jumbotron subhead">
	<div class="row">
		<div class="span6">
			<h1>Time Track</h1>
			<p class="lead">simple time tracker application</p>
		</div>
		<div class="span6">&nbsp;</div>
	</div>	
</header>
<div class="page-header">&nbsp;</div>
<section class="start-actions center">
	<div class="row">
		<div class="span12">
			<a id="btnLogin" class="btn btn-primary" href="#">Log In</a>
			<div class="spacer20"></div>
 			<a id="btnSignIn" class="btn btn-info" href="#">Sign In</a>
			<div class="spacer20"></div>
		</div>
	</div>
</section>