<div class="login-container">

	<div id="login-header">
		<h3>Login</h3>
	</div>
	
	<div id="login-content" class="clearfix">
		<form id="loginForm">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="j_username">Username</label>
					<div class="controls">
						<input id="j_username" name="j_username" class="" type="text" placeholder="Username" autocomplete="off">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="j_password">Password</label>
					<div class="controls">
						<input id="j_password" name="j_password" class="" type="password" placeholder="Password" autocomplete="off">
					</div>
				</div>				
			</fieldset>
			<div class="pull-right">
				<button id="btnLogin" class="btn btn-info" type="submit"> Login </button>
			</div>
		</form>
	</div>
	
</div>