body {
	color: #333333;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 20px;
}

@media (min-width: 980px) {
	.preview {
		padding-top: 100px;
	}
}

.navbar-inner {
	background-color: #D44413;
	background-image:-moz-linear-gradient(top,#ce4213,#dd4814);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ce4213),to(#dd4814));
	background-image:-webkit-linear-gradient(top,#ce4213,#dd4814);
	background-image:-o-linear-gradient(top,#ce4213,#dd4814);
	background-image:linear-gradient(to bottom,#ce4213,#dd4814);
	border: 1px solid #C64012;
}


.navbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #CE4213;
}

.btn-primary {
	background-color: #E86537;
    background-image:-moz-linear-gradient(top, #EF784E, #DD4814);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#EF784E),to(#DD4814));
	background-image:-webkit-linear-gradient(top,#EF784E,#DD4814);
	background-image:-o-linear-gradient(top,#EF784E,#DD4814);
    background-image: linear-gradient(to bottom, #EF784E, #DD4814);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #DD4814;
	color: #FFF;
}

.btn-info {
    background-color: #99356B;
    background-image:-moz-linear-gradient(top, #B03D7B, #772953);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#B03D7B),to(#772953));
	background-image:-webkit-linear-gradient(top,#B03D7B,#772953);
	background-image:-o-linear-gradient(top,#B03D7B,#772953);
	background-image: linear-gradient(to bottom, #B03D7B, #772953);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-color: #772953;
	color: #FFF;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


/* ### Start Page ### **/
.start-actions a {
	width: 90%;
}

/* ### Login page ### **/
.login-container {
	width: 425px;
	margin: 120px auto 0;
}

#login-header {
	
	padding: 0px 15px;
	margin-bottom: 1em;
	
	background: #99356B;
	background:-moz-linear-gradient(top, #B03D7B 0%, #772953 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#B03D7B), color-stop(100%,#772953)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #B03D7B 0%,#772953 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #B03D7B 0%,#772953 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #B03D7B 0%,#772953 100%); /* IE10+ */
	background:linear-gradient(top, #B03D7B 0%,#772953 100%); /* W3C */
	
	border-radius: 5px;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

#login-header h3 {
	margin-bottom: 0;
	color: #FFF;
	font-size: 1em;
	text-decoration: 1px 1px 2px rgba(0,0,0,.4);
}

#login-content {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#login-content input {
	width: 96%;
	padding: 2% 2%;
}

@media (max-width: 480px) {
	
	.login-container {
		width: 100%;
		margin: 40px auto 0;
	}
	
}

/** Home **/
.home-title {
	padding-bottom: 10px;
}