.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


@media (min-width: 980px) {
	.preview {
		padding-top: 100px;
	}
}

/* ### Login page ### **/
.login-container {
	width: 425px;
	margin: 120px auto 0;
}

@media (max-width: 480px) {
	
	.login-container,
	.account-container {
		width: 100%;
		margin: 40px auto 0;
	}
	
}

#profileImageHolder {
	width: 30px;
	height: 30px;
	float: left;
	padding-right: 10px;
}

.country-flags {
	display: block;
}

#flag-serbia {
	background: url('../img/country-flags/serbia.png') left top no-repeat;
	width: 24px;
	height:24px;
	display: inline-block;
}

#flag-uk {
	background: url('../img/country-flags/united-kingdom.png') left top no-repeat;
	width: 24px;
	height:24px;
	display: inline-block;
}

.start-actions .btn {
	width: 95%;
}

@media (min-width: 768px) {

	#logHoursForm input {
		margin-bottom: 0px;
	}
	
}

